<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    
    <welcome-file-list>
        <welcome-file>inscrir</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>com.example.banqueproject.listener.AppListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>inscrir</servlet-name>
        <servlet-class>com.example.banqueproject.controller.InscrirServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>inscrir</servlet-name>
        <url-pattern>/inscrir</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>acceuil</servlet-name>
        <servlet-class>com.example.banqueproject.controller.AcceuilServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>acceuil</servlet-name>
        <url-pattern>/acceuil</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>identifier</servlet-name>
        <servlet-class>com.example.banqueproject.controller.IdentifierServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>identifier</servlet-name>
        <url-pattern>/identifier</url-pattern>
    </servlet-mapping>
</web-app>